@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #185944;
    padding: 15px;
    margin: 70px 0;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

.main-header {
    background-color: #d05b65;
    padding: 15px 0;
    box-shadow: 0 0 15px #00ffea;
    margin: 0px 0;
    font-size: 1.2em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4e4c4c;
    z-index: 1000; /* Assicura che la navbar sia sempre in cima */
}

nav ul {
    display: flex;/* Allinea i pulsanti orizzontalmente */
    justify-content: center; /* Centra la barra di navigazione */
    list-style: none; /* Rimuove i pallini bianchi */
    padding: 0;
    margin: 0;
}


nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #00ffea;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 8px;
}

nav ul li a:hover {
    color: #d05b65;
    text-shadow: 0 0 10px #d05b65;
}

ion-icon {
    font-size: 20px;
}

.projects-container {
    margin-top: 80px;
    text-align: center;
}

.projects-grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 40px; 
    padding: 20px; 
    margin-top: 40px; 
}

.project-item {
    background-color: #222;
    color: #00ffea;
    font-family: 'Press Start 2P', cursive;
    padding: 25px;
    border: 6px solid #00ffea;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 8px #00ffea;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    text-decoration: none;
    color: inherit; /* Mantiene i colori */
    display: block; /* Il link avvolge tutto il contenuto */
}


.project-item img {
   width: 100%;
    height: 200px; /* Altezza fissa */
    object-fit: cover; /* Mantiene proporzioni senza deformare */
    border-radius: 10px;
    border: 3px solid #00ffea;
    box-shadow: 0 0 10px #00ffea;
}


.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #d05b65;
}

.project-item h2 {
    color: #00ffea;
    font-family: 'Press Start 2P', cursive;
}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 18px;
    background-color: #00ffea;
    color: #222;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background-color: #d05b65;
    box-shadow: 0 0 10px #d05b65;
}

@media (max-width: 500px) {
    .project-item {
        padding: 20px;
    }

    .project-item img {
        height: 150px;
    }
}
